extends layout

block content
  header(class="main-header")
    nav
      img(src="/images/book_logo.png", alt="book-logo", class="header-logo")
      h1(class="main-title") gReads
  main
    section.sub-header
      div
        div.authors-header
          a authors
          img
        div.books-header
          a(href="/books") books
          img
      a.add-btn(href="books/new") add new book
    section.main-contain-books
      section.books-list
        each author in authors
          div.each-book-sec
            div.book-cover-container
              img.book-cover(src=author.portrait_url)
            div.each-book-header
              span.book-header-btn
                a(class="edit-btn", data-id=author.id) edit
              span.book-header-btn
                a(class="remove-btn", data-id=author.id) remove
              h2.book-title=author.first_name + ' ' + author.last_name
              each book in author.books
                div.book=book.title
              h3.genre=author.genre
            p.book-description=author.biography
  footer
