extends layout

block content
  header(class="main-header")
    nav
      img(src="/images/better-logo.png", alt="book-logo", class="header-logo")
      a(href="/" class="main-title")
        h1 gReads
      div.nav-accent-img-container
  main
    section.sub-header
      div
        div.authors-header
          a authors
          img
        div.books-header
          a(href="/books") books
          img
      a.add-btn(href="books/new") add new book
    section.main-contain-books
      section.books-list
        each book in books
          div.each-book-sec
            div.book-cover-container
              img.book-cover(src=book.cover)
            div.each-book-header
              span.book-header-btn
                a(class="edit-btn", data-id=book.id) edit
              span.book-header-btn
                a(class="remove-btn", data-id=book.id) remove
              h2.book-title=book.title
              each author in book.authors
                div.author= author.first_name + ' ' + author.last_name
              h3.genre=book.genre
            p.book-description=book.description
  footer
